body {
  background-color: #C7CEF6;

  max-width: 50em;
  margin: 0 auto;
  padding: 0.5em;
}

select,
input[type=text] {
  height: 4em;
}

select,
input[type=text],
textarea {
  font-family: Menlo, monospace;
  font-size: 1em;
  border-radius: 0 !important;
  border-width: 3px !important;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: Menlo, monospace;
  text-align: center;
}

textarea,
select:focus {
  outline: none;
}

input[type=text]:focus,
textarea:focus {
  border-color: #000;
}
